* {
    background-color: ;
    color: ;
   
    height: ;
    width: ;
    
    style: ;

    font: ;
    font-size: ;
    font-family: ;
    font-weight: ;
    font-style: ;
    font-display: ;
    font-stretch: ;
    font-kerning: ;
    font-palette: ;
    font-synthesis: ;

    text-align: ;
    text-decoration: ;
    text-transform: ;
    text-overflow: ;
    text-shadow: ;
    text-rendering: ;
    text-indent: ;
    text-wrap: ;
    text-anchor: ;
    text-justify: ;
    text-emphasis: ;
    text-orientation: ;

    border: ;
    border-radius: ;
    border-bottom: ;
    border-color: ;
    border-top: ;
    border-left: ;
    border-width: ;
    border-right: ;
    border-style: ;
    border-inline: ;
    border-image: ;
    border-block: ;
    border-collapse: ;

    display: ;
    visibility: ;
    position: fixed, absolute, relative, static;



    /*text-size-adjust: ;

    text-decoration-line: ;
    text-decoration-color: ;
    text-decoration-skip: ;
    text-decoration-skip-ink: ;
    text-decoration-style: ;
    text-decoration-thickness: ;
    
    text-align-last: ;
    
    text-underline-position: ;
    text-underline-offset;
    */

}