seletor {
    tag: propriedade = valor
    tag, tag: propriedade = valor
    
    }
    
    color:
    background-color:
    
    text-align:
    
    font-size:
    font-width:
    font-style:
    font-family: